{% extends 'base.html' %}
{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    <h4><font color="#11213B">Заявка в проект "{{ project.title }}"</font></h4>
                </div>
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        <div class="form-group">
                           <label><font color="#11213B">Сообщение владельцу (макс. 100 символов)</font></label>
							<textarea name="message" class="form-control" rows="4" maxlength="100" placeholder="Расскажите о вашем опыте..."></textarea>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-success btn-block">
                                <i class="fa fa-paper-plane"></i> Отправить заявку
                            </button>
                        </div>
                        <a href="{% url 'projects:project_detail' project.slug %}" class="btn btn-secondary btn-block">← Назад к проекту</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
